<h1>404: Oops, no sé encontro la pagina en la que intentas ingresar</h1>
<script>
    (
        ()=> {
            setTimeout(() => {
                window.location.href ='/'
            }, 1500);
        }
    )()
</script>